<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/pngwing.com.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="row">
            <a class="logo" href="/">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
            </a>
            <form class="search-bar">
                <div>
                    <input type="text" placeholder="Buscar productos o marcas">
                    <i class="fa-solid fa-magnifying-glass search"></i>
                </div>
            </form>
            <div class="text-header">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav>
            <ul class="nav-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>


            <ul class="login-bar">
                <li><a href="/register">Creá tu cuenta</a>
                    <i class="fa-solid fa-id-card"></i>
                </li>
                <li><a href="/login">Ingresá</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li><a href="#">Mis compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>
        <button><i class="fa-solid fa-bars"></i></button>
    </header>

    <main>
        <h2>Bienvenido/a</h2>
        <form>
            <input type="text" placeholder="nombre de usuario" required minlength="3" maxlength="30">
            <input type="password" placeholder="contraseña" required minlength="3" maxlength="35">
            <button type="submit">Iniciar sesión</button>
        </form>
    </main>

    <footer>
        <div>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </div>
        <div>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde los $2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </div>
        <div>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@
            </p>
        </div>
        <p>Copyright &copy; 1999-2023 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>